<mat-card>
  <form #postForm="ngForm" (submit)="onAddPost(postForm)">
    <mat-form-field>
      <input
        #title="ngModel"
        matInput
        name="title"
        ngModel
        required
        type="text"
      placeholder="Post Title">
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        #content="ngModel"
        matInput
        name="content"
        ngModel
        required
        rows="6"
        placeholder="Content"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post title</mat-error>

    </mat-form-field>
    <button
      color="accent"
      mat-raised-button
      type="submit">Save post
    </button>
  </form>


</mat-card>
