<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="posts.length > 0 && !isLoading" multi=true>
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [alt]="post.title" [src]="post.imagePath">
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <button [routerLink]="['/edit', post.id]" color="primary" mat-button>EDIT</button>
      <button (click)="onDelete(post.id)" color="warn" mat-button>DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  (page)="onChangedPage($event)"
  *ngIf="posts.length > 0"
  [length]="totalPosts"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="postsPerPage">

</mat-paginator>
<p *ngIf="posts.length <= 0 && !isLoading" class=" info-text mat-body-1">Ancora nessun post</p>

