:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%;
  text-align: center;
}

.post-image img {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  max-height: 400px;
  max-width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  max-width: stretch;
}

mat-paginator {
  margin-top: 1rem;
}
